venv/
__pycache__/
*.pyc
.env
saams.db
saams.db-*
*.log
static/uploads/*
!static/uploads/.gitkeep
!static/uploads/certificates/
!static/uploads/certificates/*
!static/uploads/profiles/
!static/uploads/profiles/*
instance/
.migrations/
